/** Custom styles */
.home div[role="document"] {
    margin-top: 15px;
    background: linear-gradient(to right bottom, $blue-900 0%, $blue-300 100%);
    color: $white;
}

.card {
    background-color: $cyan-100;

    .card-title-icon {
        color: $cyan-300;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
